<div id="<%= dom_id enregistre %>">
  <p>
    <strong>Utilisateur dossier:</strong>
    <%= enregistre.utilisateur_dossier_id %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= enregistre.publication_id %>
  </p>

</div>
