<p style="color: green"><%= notice %></p>

<%= render partial: "shared/publication", locals: {publication: @enregistre.publication} %>

<div>
  <%= link_to "Retourner aux Dossiers", utilisateur_dossiers_path %>
</div>
