<div id="<%= dom_id(publication, :like_button) %>">
  <% if publication.likes.exists?(utilisateur: current_utilisateur) %>
    <% like = publication.likes.find_by(utilisateur: current_utilisateur) %>

    <%= button_to "â¤ï¸", publication_like_path(publication, like), method: :delete, form: { data: { turbo_stream: true } }, class: "like-button" %>

  <% else %>
    <%= button_to "ðŸ©¶", publication_likes_path(publication), method: :post, form: { data: { turbo_stream: true } }, class: "like-button"  %>
  <% end %>
</div>
