<div id="<%= dom_id publication %>">
  <p>
    <strong>Utilisateur:</strong>
    <%= publication.utilisateur_id %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= publication.caption %>
  </p>
</div>
