<% content_for :title, "New signalement" %>

<h1>New signalement</h1>

<%= render partial: "form", locals: {signalement: @signalement, publication: @publication} %>

<br>

<div>
  <%= link_to "Back to signalements", signalements_path %>
</div>
