<div class="field_shown" id="<%= dom_id like %>">
  <p>
    <strong>Utilisateur:</strong>
    <%= like.utilisateur_id %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= like.publication_id %>
  </p>

</div>
