<h1>Welcome to Social Network!</h1>
<% if utilisateur_signed_in? %>
  <h2>
    <%= link_to "Mes Publications", mes_publications_path %> | 
    <%= link_to "Les Publications de mes Amis", publications_amis_path %>
  </h2>
<% end %>

<%= render partial: "shared/publication_feed", locals: { show_commentaires: false } %>
