<div class="field_shown" id="<%= dom_id commentaire %>">
  <p>
    <strong>Utilisateur:</strong>
    <%= commentaire.utilisateur.surnom %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= link_to commentaire.publication.description, publication_path(commentaire.publication_id) %>
  </p>

  <p>
    <strong>Contenue:</strong>
    <%= commentaire.contenue %>
  </p>

</div>
