<p style="color: green"><%= notice %></p>

<% content_for :title, "Mes Commentaires" %>

<h1>Mes Commentaires sur des Publications</h1>

<% if false %>
<div id="commentaires">
  <% @commentaires.each do |commentaire| %>
    <%= render commentaire %>
    <p>
      <%= link_to "Show this commentaire", publication_path(commentaire.publication_id) %>
    </p>
  <% end %>
</div>
<% end %>
<%= render partial: "shared/publication_feed", locals: { show_commentaires: true } %>
