<div class="field_shown" id="<%= dom_id utilisateur_dossier %>">
  <p>
    <strong>Utilisateur:</strong>
    <%= utilisateur_dossier.utilisateur_id %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= utilisateur_dossier.nom %>
  </p>

</div>
