<div class="field_shown" id="<%= dom_id utilisateur_dossier %>">
  <p>
    <strong><%= link_to utilisateur_dossier.nom, utilisateur_dossier_enregistres_path(utilisateur_dossier.id) %></strong>
  </p>
</div>
