<% content_for :title, "New utilisateur dossier" %>

<h1>Nouveau Dossier de Publications Enregistrés</h1>

<%= render "form", utilisateur_dossier: @utilisateur_dossier %>

<br>

<div>
  <%= link_to "Back to utilisateur dossiers", utilisateur_dossiers_path %>
</div>
