#comment-section {
  padding: 0.5em;
  width: 50%;
  border: 1px solid black;
  border-radius: 0.2em;

  .commentaire {
    p {
      border-bottom: 1px solid black;
    }
  }

  #add-comment-button {
    border-radius: 40%;
    border: 1px solid black;
    padding: 0.25em;
  }
  
  #add-comment-button:hover {
    cursor: pointer;
  }
}
.like-button {
  font-size: 32px;
}

.like-button, .comment-delete-button {
  padding: 0.2em;
  margin: 0;
  background: white;
  border: none;
  border-radius: 45%;
}

.like-button:hover, .comment-delete-button:hover {
  cursor: pointer;
}
