<div id="<%= dom_id ami %>">
  <p>
    <strong>Utilisateur 1:</strong>
    <%= ami.utilisateur_1_id %>
  </p>

  <p>
    <strong>Utilisateur 2:</strong>
    <%= ami.utilisateur_2_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ami.status %>
  </p>

</div>
