<p style="color: green"><%= notice %></p>

<% content_for :title, "Amis" %>

<h1>Amis</h1>

<div id="amis">
  <% @amis.each do |ami| %>
    <%= render ami %>
    <p>
      <%= link_to "Show this ami", ami %>
    </p>
  <% end %>
</div>

<%= link_to "New ami", new_ami_path %>
