<p style="color: green"><%= notice %></p>

<% content_for :title, "Amis" %>

<h1>Mes Amis</h1>

<div id="amis">
  <% @amis.each do |ami| %>
    <%= render ami %>
    <p>
      <%= link_to "Voire profile", utilisateur_path((ami.utilisateur_1.id == current_utilisateur.id) ? ami.utilisateur_2.id : ami.utilisateur_1.id) %>
    </p>
  <% end %>
</div>
